body {
	margin: 0px;
 	padding: 0px;
	font-family: Cuprum, Arial, sans-serif;
	background-color: #ffffff;
	font-size: 16px;
 	line-height: 18px;
 	font-weight: 700;	
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
 	width: 940px;
 	margin: 0 auto;
 	padding: 0;
}

.main-header a{
	color: #ffffff;
}

.adress {
	color: rgb(50,66,92);
}

.info {
	color: rgb(238,54,67);
	font-style: italic;
}

a.telephone {
	color: rgb(238,54,67);
	font-size: 21px;
}

.main-navigation ul{
	list-style: none;	
}

.sign a {
	color: #000000;
}


/*----Сеточные линии----*/


.main-header-logo img{
	display: block;
	border-bottom: 5px solid rgb(181,41,51);
}

.main-header {
	background-color: rgb(243,247,248);
}

.main-navigation {
	display:flex;
	flex-direction: column;
}


.info-navigation {
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 26px;
	margin-bottom: 20px;
	line-height: 23px;
}

.shop-navigation {
	display:flex;
	align-items: center;
	justify-content: space-between;
	font-size: 17px;
	line-height: 18px;
	background-color: rgb(41,52,73);
	color: #ffffff;

}	

.user-navigation {
	display:flex;
	justify-content: space-around;

}

.site-navigation {
	display:flex;
	align-items: center;
	justify-content: space-around;	
	padding-top: 19px;
	padding-bottom: 18px;
	margin-bottom: 60px;
	border-bottom: 5px solid rgb(41,52,73);
	background-color: rgb(50,66,92);
}
	
/*----Тело----*/


ul.advantages-list {
	padding: 0px;
}

.advantages-list {
	margin-top: 59px;
	margin-bottom: 53px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	color: #fff;
}

.column {
	flex-direction: column;
	margin-top: 0px;
}

.advantages-list a {
	color: #fff;
}

.orange {
	background-image: url("../img/icons/icon-materials.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgb(255,191,71);
}

.skyblue {
	background-color: rgb(59,188,227);
}

.pink {
	background-color: rgb(220,145,216);
}

.green {
	background-color: rgb(142,215,143);
}

.advantages-item {
	height: 123px;
	width: 300px;
	margin-bottom: 20px;
}	

.popular{
	display: flex;
	padding-left: 30px;
	padding-right: 24px;
	background-color: rgb(249,245,240);
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	
} 

.popular h2{
	color: rgb(50,66,92);
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.popular-list {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	text-align:center;
	list-style: none;
	padding: 0px;
}	

.popular-list li {
	border: 1px solid rgb(234,234,234);
}

.background-services {
	background-color: rgb(243,247,248);
}

.about-us{
	display: flex;

}

.partners {
	margin-left: 36px;
	font-size: 18px;
	font-weight: normal;

}

.partners a{
	color: #000;
}

/*----Подвал----*/	

footer {
	background-color: rgb(41,52,73);
	color: #ffffff;
	list-style: none;
}

.footer {
	display: flex;
	flex-direction: column;
}

.footer-background	{
	background-color: rgb(50,66,92);
}

.main-footer-logo img {
	display: block;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 193px;
	align-items: center;
}

.footer-navigation ul {
	list-style: none;	
}

.footer-site-navigation {
	display: flex;
}

.footer-site-navigation li {
	padding-left: 60px;
}

.footer-items-navigation {
	display: flex;
}

.footer-navigation a {
	color: #ffffff;
}

.footer-info a{
	color: rgb(255,209,128);
}

.footer-items-navigation a {
	color: rgb(255,209,128);
	padding-left: 60px;
}

.footer-info{
	display:flex;
	justify-content: space-between;
	height: 107px;
	align-items: center;
}
