body {
	margin: 0px;
 	padding: 0px;
	font-family: Cuprum, Arial, sans-serif;
	background-color: #ffffff;
	font-size: 17px;
 	line-height: 18px;
 	font-weight: 400;	
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
 	width: 940px;
 	margin: 0 auto;
 	padding: 0;
}

.main-header a{
	color: #ffffff;
}


.sign a {
	color: #000000;
}


/*----Сеточные линии----*/


.main-header-logo img{
	box-shadow: 0 5px 1px rgb(181,41,51);
}

.main-header-logo {
	position:absolute;
}

.main-header {
	background-color: rgb(243,247,248);
}

.main-navigation {
	display:flex;
	flex-direction: column;
}

.main-navigation ul{
	list-style: none;	
}

.shop-wrapper {
	background-color: rgb(41,52,73);
}

.shop-navigation {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 17px;
	line-height: 18px;
	background-color: rgb(41,52,73);
	color: #ffffff;
}

.user-navigation {
	display:flex;
	justify-content: space-between;
	width: 100%;
	margin: 0px;
	padding: 12px;
}

.shop-search{
	display: flex;
	margin-left: 300px;
}

.info-navigation {
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 26px;
	margin-bottom: 20px;
	line-height: 23px;
}

.info {
	color: rgb(238,54,67);
	font-style: italic;
}

.telephone a {
	color: rgb(238,54,67);
	font-size: 21px;
}

p.telephone {
	text-align: center;
}

.adress {
	color: rgb(50,66,92);
	font-size: 14px;

}

.site-navigation {
	display:flex;
	justify-content: space-around;
	padding: 0px;
	margin-bottom: 60px;
	background-color: rgb(50,66,92);
	box-shadow: 0 5px 1px rgb(41,52,73);
}

.site-navigation li {
	padding: 22px 33px;
}

.site-navigation li:hover {
	background-color: rgb(41,52,73);
}
	
.site-navigation li:active {
	background-color: rgb(29,39,57);
	opacity: 0.5;
	box-shadow: 0 5px 1px rgb(29,39,57);
}
/*----Тело----*/

.advantages {
	margin-top: 50px;
	margin-bottom: 33px;
}

.advantages-item h3 {
	font-size: 24px;
	font-weight: bold;
}

.advantages-list {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	color: #fff;
}

.column {
	flex-direction: column;
	margin-top: 0px;
}

.advantages-list a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;	
	font-weight: normal;	
}

.orange {
	background-image: url("../img/icons/icon-materials.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgb(255,191,71);
}

.skyblue {
	background-color: rgb(59,188,227);
}

.pink {
	background-color: rgb(220,145,216);
}

.green {
	background-color: rgb(142,215,143);
}

.advantages-item {
	height: 123px;
	width: 300px;
	margin-bottom: 20px;
}	

.popular{
	display: flex;
	padding-left: 30px;
	padding-right: 24px;
	background-color: rgb(249,245,240);
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	
} 

.popular h2{
	color: rgb(50,66,92);
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.popular-list {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	text-align:center;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	line-height: 20px;
}	

.popular-list li {
	border: 1px solid rgb(234,234,234);
	margin-bottom: 20px;

}

/*----Сетка товаров----*/

.item {
	position: relative;
}

h3.title {
	margin: 12px auto;
}

.discount {
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #999;
	text-decoration: line-through;
}

.price {
 	width: 120px;
 	margin: 0 auto;
	margin-bottom: 20px;
 	padding: 10px 20px;
	color: white;
 	background: #ee3643;
 	border-radius: 3px;
 	position: relative;
}

.item .price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	border: 20px solid white;
	border-left-color: #ee3643;
}


.item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
}

.item .actions .buy,
.item .actions .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0; 
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px; 
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.item .actions .bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.item .actions {
	display: none;
}

.item:hover {
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.item:hover .actions {
	display: block;
}


/*----*/
.background-services {
	background-color: rgb(243,247,248);
	margin-top: 65px;
}

.serviсes h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.slider-service h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgb(50,66,92);
}

.about-us{
	display: flex;
}

.about-us h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.about-us p {
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.partners {
	margin-left: 36px;
	font-size: 18px;
	font-weight: normal;

}

.partners a{
	color: #000;
}

/*----Подвал----*/	

footer {
	background-color: rgb(41,52,73);
	color: #ffffff;
	list-style: none;
}

.footer {
	display: flex;
	flex-direction: column;
}

.footer-background	{
	background-color: rgb(50,66,92);
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-items: flex-end;
}

.footer-navigation ul {
	list-style: none;	
}

.footer-site-navigation {
	display: flex;
}

.footer-site-navigation li:not(:first-child) {
	padding-left: 60px;
}


.footer-items-navigation {
	display: flex;
}

.footer-navigation a {
	color: #ffffff;
}

.footer-info a{
	color: rgb(255,209,128);
}

.footer-items-navigation a {
	color: rgb(255,209,128);
	padding-left: 60px;
}

.footer-info{
	display:flex;
	justify-content: space-between;
	height: 107px;
	align-items: center;
}
